@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.text-custom {
  color: orangered;
}

.logo {
  font-size: 1.6rem;
}

.slider {
  margin-top: 5rem !important;
}

.overlay {
  width: 100%;
  height: 100%;
  content: "";
  background-image: -webkit-linear-gradient(
    65deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  position: absolute;
  top: 0;
}

.btn-custom {
  background: #1c8d73;
  padding: 10px 20px;
  font-weight: 500;
  color: #fff;
}

/* main style start  */

.section-title {
  max-width: 550px;
  margin: 0 auto;
}

.rating-star li {
  list-style: none;
}

.social-icon li {
  list-style: none;
  padding: 15px;
}

.social-icon li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #333;
}

.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #1c8d73;
  background: #acecdd;
  top: 40%;
  left: -7px;
  z-index: 1;
}

.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background: #1c8d73;
  top: 40%;
  right: -7px;
  z-index: 1;
}

@media screen and (min-width: 360px) and (max-width: 668px) {
  .slider-title {
    font-size: 1rem;
  }
  .desc {
    font-size: 0.5rem;
  }
}
